body{
    font-family: Arial, Helvetica, sans-serif;
}

.container,.content-container{
    width: 100%;
}

.header{
    padding: 20px;
    font-size: 32px;
    background-color: #0e133d;
    color: aliceblue;
    text-align: center;
}

.side-content{
    padding: 20px;
    background-color: rgb(255, 253, 123);
    width: 20%;
    height: 350px;
    float: left;
}

.heading-side-content{
    color: red;
    text-align: center;
    font-size: 30px;
}

.links-container a{
    display: block;
    margin: 20px 0px;
    font-size: x-large;
}

.links-container a:hover{
    color: red;
}

.main-content{
    padding: 20px;
    background-color: rgb(135, 164, 188);
    height: 350px;
    border: 2px solid salmon;
}

.footer{
    padding: 20px;
    font-size: 30px;
    background-color: #0e133d;
    color: white;
    text-align: center;

}